/* Reset de margens e preenchimentos para garantir consistência */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Defina a cor de fundo da página */
body {
  background-color: #aca5a5;
  font-family: Arial, sans-serif;
}

/* Estilo do cabeçalho */
header {
  background-color: #333;
  color: #7472d3;
  padding: 10px;
  text-align: center;
}

/* Estilo de links */
a {
  color: #748274;
  text-decoration: none;
}

/* Estilo para uma área de conteúdo */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #aca5a5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}